spring:
  main:
    banner-mode: off
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  threads:
    virtual:
      enabled: true

server:
  error:
    include-stacktrace: never
    include-exception: false

springdoc:
  api-docs:
    enabled: true
    path: /openapi/openapi.json
  packages-to-scan: "org.example"
  default-produces-media-type: "application/json"
  swagger-ui:
    enabled: "${springdoc.api-docs.enabled:false}"
    validator-url: none
    path: /openapi/openapi.html
    disable-swagger-default-url: true

logging:
  level:
    fi.okm.jod: DEBUG
