spring:
  main:
    banner-mode: off
  threads:
    virtual:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: "validate"
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
  data:
    redis:
      repositories:
        enabled: false
  mvc:
    log-resolved-exception: false
  flyway:
    enabled: true
    default-schema: yksilo
    schemas: yksilo,koulutusmahdollisuus_data,tyomahdollisuus_data,esco_data
    group: true
    baseline-on-migrate: true
    out-of-order: true
    baseline-version: "20250707.250"
    baseline-description: baseline
  session:
    timeout: 15m
    redis:
      repository-type: default
  transaction:
    default-timeout: 30s
  cache:
    type: caffeine
    caffeine:
      spec: initialCapacity=100,maximumSize=500,expireAfterWrite=600s
  cloud:
    aws:
      cloudwatch:
        enabled: false
      parameterstore:
        enabled: false
      secretsmanager:
        enabled: false
  task:
    execution:
      shutdown:
        await-termination: true
        await-termination-period: 30s
  lifecycle:
    timeout-per-shutdown-phase: 60s

server:
  compression:
    enabled: true
  error:
    whitelabel:
      enabled: false
    include-stacktrace: never
    include-exception: false
  servlet:
    context-path: /yksilo

springdoc:
  api-docs:
    enabled: true
    path: /openapi/openapi.json
    version: openapi_3_1
  packages-to-scan: "fi.okm.jod"
  default-produces-media-type: "application/json"
  swagger-ui:
    enabled: "${springdoc.api-docs.enabled:false}"
    validator-url: none
    path: /openapi/openapi.html
    disable-swagger-default-url: true
    operations-sorter: alpha
    tags-sorter: alpha

logging:
  level:
    root: INFO
    fi.okm.jod.yksilo.service.tmt: DEBUG
    org:
      springframework:
        web:
          servlet:
            PageNotFound: off

management:
  observations:
    annotations:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health"

jod:
  session:
    timeout: 30m
    maxDuration: 12h
  recommendation:
    skills:
      baseUrl: ""
    mahdollisuus:
      endpoints:
        fi: ""
        en: ""
        sv: ""
  keskustelu:
    endpoint: ""
  ai-tunnistus:
    osaamiset:
      endpoint: ""
  koodistot:
    # ISO-639-1 alpha-2 codes
    # Source: https://data.stat.fi/api/classifications/v2/classifications/kieli_1_20101115
    kieli: "aa,ab,ae,af,ak,am,ar,an,as,av,ay,az,ba,be,bg,bh,bi,bm,bn,bo,br,bs,ca,ce,ch,co,cr,cs,cu,cv,cy,da,de,dv,dz,ee,el,en,eo,es,et,eu,fa,ff,fi,fj,fo,fr,fy,ga,gd,gl,gn,gu,gv,ha,he,hi,ho,hr,ht,hu,hy,hz,ia,id,ie,ig,ii,ik,io,is,it,iu,ja,jv,ka,kg,ki,kj,kk,kl,km,kn,ko,kr,ks,ku,kv,kw,ky,la,lb,lg,ln,li,lo,lt,lu,lv,mg,mh,mi,mk,ml,mn,mr,ms,mt,my,na,nb,nd,ne,ng,nl,nn,no,nr,nv,ny,oc,oj,om,or,os,pa,pi,pl,ps,pt,qu,rm,rn,ro,ru,rw,sa,sc,sd,se,sg,si,sk,sl,sm,sn,so,sq,sr,ss,st,su,sv,sw,ta,te,tg,th,ti,tk,tl,tn,to,tr,ts,tt,tw,ty,ug,uk,ur,uz,wa,ve,vi,vo,wo,xh,yi,yo,za,zh,zu"
