spring:
  config:
    import:
      - classpath:/saml2-suomifi.yml
      - classpath:/oauth2-koski.yml
      - classpath:/oauth2-tmt.yml
      - aws-parameterstore:/jod/config/
      # the secret arns need to be provided statically (e.g. as env variable),
      # the dot at the end of the prefix is intentional
      - aws-secretsmanager:${jod.koski.certificate-secret-arn}?prefix=jod.koski.certificate.
      - aws-secretsmanager:${jod.external-api.api-key-secret-arn}?prefix=jod.external-api.
      - aws-secretsmanager:${jod.saml2.credentials-secret-arn}?prefix=jod.saml2.relying-party.
  cloud:
    aws:
      parameterstore:
        enabled: true
        reload:
          period: 7m
          strategy: refresh
      secretsmanager:
        enabled: true
        reload:
          strategy: refresh
          period: 31m
  datasource:
    type: fi.okm.jod.yksilo.config.datasource.RdsIamAuthHikariDataSource
    hikari:
      maximum-pool-size: 20
  jpa:
    hibernate:
      ddl-auto: "none"
  task:
    execution:
      shutdown:
        await-termination: true
        await-termination-period: 30s
  lifecycle:
    timeout-per-shutdown-phase: 60s
  web:
    error:
      include-stacktrace: never
      include-exception: false
server:
  forward-headers-strategy: none
  shutdown: graceful
  tomcat:
    custom:
      secure-connector: true
  servlet:
    context-path: /yksilo

springdoc:
  api-docs:
    enabled: false

logging:
  structured:
    format:
      console: logstash
  level:
    root: INFO
    fi.okm.jod: INFO
    sql: INFO

management:
  endpoints:
    web:
      exposure:
        include: "health"

jod:
  integraatio:
    koski:
      hosts:
        - "testiopintopolku.fi"
