<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="local" name="rootLogLevel" source="logging.level.root"
    defaultValue="INFO"/>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <logLevel/>
        <loggerName/>
        <threadName/>
        <message/>
        <stackTrace>
          <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
            <maxDepthPerThrowable>7</maxDepthPerThrowable>
          </throwableConverter>
        </stackTrace>
        <mdc/>
        <arguments/>
      </providers>
    </encoder>
  </appender>
  <root level="${rootLogLevel}">
    <appender-ref ref="console"/>
  </root>
</configuration>
